body {
    background: #2d9ab2;
}
h1 {
    font-size: xx-large;
}
table, th, td {
    /* border:1px solid black; */
    width:100%;
    text-align: center;
}
p {
    margin: 10px;
    font-size: 20px;
}
select {
    margin-top: 50px;
    font-size: 20px;
}
.bestSample {
    color: darkgoldenrod;
    font-size: 24px;
    font-weight: bold;
}