body {
    background: black;
}

#infoCanvas {
    border: 1px solid white;
    position: absolute;
    top: 37%;
    left: 23%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 500px;
}

#gameCanvas {
    border: 1px solid white;
    position: absolute;
    top: 56.7%;
    left: 71%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
}

#pointsCanvas {
    border: 1px solid white;
    position: absolute;
    top: 9.2%;
    left: 71%;
    transform: translate(-50%, -50%);
    width: 800;
    height: 90px;
}

.box {
    width: 1500px;
    height: 700px;
    border: 0px solid darkblue;
    background-color: black;
    color: white;
    font: 16px "Zilla", "Open Sans", "Helvetica", "Arial", sans-serif;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#btn1 {
    position: absolute;
    top: 95%;
    left: 4%;
    transform: translate(-50%, -50%);
}
