body {
    background: black;
}
#infoCanvas {
    border: 1px solid green;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -210%);
    width: 400px;
    height: 200px;
}
#gameCanvas {
    border: 5px solid green;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
}