body {
    background: black;
}
#canvas1 {
    border: 5px solid green;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 680px;
    height: 580px;
}
p {
    color: white;
}
.slider {
    width: 100%;
}